{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "importAssertions", "decorators"],
  "importOrder": ["^(../)+(.*)$", "^./(.*)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
